<!DOCTYPE html>
<html lang="en">
<head>
  <title>FINDING FALCON</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/custom.css">
  <script src="scripts/jquery.js"></script>
  <script src="scripts/bootstrap.js"></script>
  <script src="scripts/parallax.js"></script>
  <script src="scripts/jquery.nicescroll.js"></script>
  <script src="scripts/vue.js"></script>
  <script src="scripts/main.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.geektrust.in/problem/frontend">FINDING FALCONE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Reset</a></li>
        </ul>
      </div>
    </div>
  </nav>  
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <table id="info">
          <tr class="top">
            <td colspan="100%" >
              <div class="center border padding">First choose the planet from the right, then choose the vehicle from the panel</div>
            </td>
          </tr>
          <tr class="top">
            <td colspan="100%" >
              <div class="center border">:::PLANETS TO VISIT:::</div>
            </td>
          </tr>
          <tr>
            <td colspan="100%">
              <div class="visit_list">
                <div class="border planet_visit" id="visit_1"></div>
                <div class="border planet_visit" id="visit_2"></div>
                <div class="border planet_visit" id="visit_3"></div>
                <div class="border planet_visit" id="visit_4"></div>
              </div>
            </td>
          </tr>
          <tr class="top">
            <td colspan="100%" >
              <div class="center border">:::VEHICLES AVAILABLE:::<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign help"></span></a></div>
            </td>
          </tr>
          <tr id="vehicles" class="bottom">
            <td v-for="vehicle in vehicles" v-cloak>
              <span v-on:click="use_vehicle(vehicle)" class="glyphicon glyphicon-plus-sign use_vehicle"></span><div title="{{vehicle.name}}" class="{{vehicle.name.toLowerCase().replace(' ','_')}} vehicle" count="{{vehicle.total_no}}" max-distance="{{vehicle.max_distance}}"><span max-speed="{{vehicle.speed}}" used="{{vehicle.used}}"></span></div><span v-on:click="remove_vehicle(vehicle)" class="glyphicon glyphicon-minus-sign remove_vehicle"></span>
            </td> 
          </tr>
          <tr>
            <td colspan="100%" >
              <div class="center border padding">TOTAL TIME TAKEN : 0</div>
            </td>
          </tr>
          <tr class="bottom">
            <td colspan="100%" >
              <div class="center border find">:::FIND FALCONE:::</div>
            </td>
          </tr>
        </table>
      </div>
      <div id="space_box" class="col-sm-8 text-left" v-cloak>
        <ul id="space">
          <li class="layer" data-depth="0.10"><div class="stars"></div></li>
          <li class="layer" data-depth="0.20"><div max-distance="0" title="Lengaburu, Home planet" class="lengaburu planet_d planet"></div></li>
          <li v-for="planet in planets" class="layer" data-depth="0.{{planet.id+2}}0"><div v-on:click="planet_details(planet.id)" max-distance="{{planet.distance}}" title="{{planet.name}}, {{planet.distance}} megamiles" class="{{planet.name.toLowerCase()}} planet_{{planet.id}} planet"></div></li>
        </ul>
      </div>
      <!-- Vehicle info content-->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Vehicle model</h4>
            </div>
            <div class="modal-body">
              <img class="vehicle-info" src="images\info.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Vehicle info content-->
    </div>
  </div>
  <footer class="container-fluid text-center">
    <p><a href="mailto:jona.mailbox@gmail.com">jona.mailbox@gmail.com</a></p>
  </footer>
</body>
</html>
