/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 91.3vh;
  overflow: hidden;
  background-size: 100%;
  background: url("../images/space.jpg") no-repeat;
  cursor: url(../images/crosshairs.png),default;
}

/* Set gray background color and 100% height */
.sidenav {
  z-index: 1;
  width:500px;
  height: 100%;
  cursor: default;
  padding-top: 20px;
  overflow-y: scroll;
  background-color: black;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
}

/* Spread out planets a little more in larger screens */
@media screen and (min-height:900px) {
  .planet_3{
    margin-top:550% !important;
  }
}

/* Set view height appropriately for corresponding resolutions */
@media screen and (max-height:800px) {
  .row.content {
    height: 89.2vh;
  }
}

/* For extremely small screens */
@media screen and (max-width:1500px) {
  .sidenav {
    width:31%;
  }
  .sidenav:hover {
    width: 500px;
  }
}

/* Do not show Vue elements if not compiled */
[v-cloak] {
  display: none;
}

/* Common classes */
.alert{
  display:none;
}

.bottom{
  vertical-align: bottom;
}
.top{
  vertical-align: top;
}

.center{
  text-align: center;
  margin-top: 20px;
  color: white;
}

.border{
  border: 2px solid white;
  margin-bottom: 10px;
}

.padding{
  padding: 40px;
}

.find{
  cursor: pointer;
  margin-bottom: 5px;
}

.find:hover{
  background-color: #4CAF50;
}

.help{
  float: right;
  margin: 2px;
}

#info{
  height: 100%;
  table-layout: fixed;
}

.planet_info{
  width : 100px;
  height :100px;
}

.visit_list{
  padding: 5px
}

/* SPACE SIMULATION CLASSES */
.stars{
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/stars.png");  
}

.planet{
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.donlon{
  background-image: url("../images/donlon.png");
}

.enchai{
  background-image: url("../images/enchai.png");
}

.sapir{
  background-image: url("../images/sapir.png");
}

.jebing{
  background-image: url("../images/jebing.png");
}

.lengaburu{
  background-image: url("../images/lengaburu.png");
}

.lerbin{
  background-image: url("../images/lerbin.png");
}

.pingasor{
  background-image: url("../images/pingasor.png");
}

.planet_d{  
  height: 300px;
  width: 300px;
  margin-left: 140%;
  margin-top: 98%;
}

.planet_0{
  height: 200px;
  width: 200px;
  margin-top: 250%;
  margin-left: 450%;
}

.planet_1{ 
  height: 150px;
  width: 150px;
  margin-left: 320%;
  margin-top:60%;
}

.planet_2{
  height: 250px;
  width: 250px;
  margin-left: 340%;
  margin-top: 30%;
}

.planet_3{
  height: 120px;
  width: 120px;
  margin-left: 450%;
  margin-top: 450%;
}

.planet_4{
  height: 400px;
  width: 400px;
  margin-left: -30%;
  margin-top: 100%;
}

.planet_5{
  height: 150px;
  width: 150px;
  margin-left: 30%;
  margin-top: 50%;
}

.space_pod{
  background: url("../images/space_pod.png") no-repeat; 
}

.space_rocket{
  background: url("../images/space_rocket.png") no-repeat;
}

.space_shuttle{
  background: url("../images/space_shuttle.png") no-repeat;
  background-size: 55%;
}

.space_ship{
  background: url("../images/space_ship.png") no-repeat;
  background-size: 75%;
}

.vehicle{
  width: 100px;
  height: 100px;
  background-position: center;
  border-radius: 50px;
  background-color: white;
}

.vehicle-info{
  width: 100%;
}

.vehicle[count]:after {
  content:attr(count);
  position: relative;
  top: 10px;
  right: -5px;
  font-size: 20px;
  width: 30px;
  background: #03A9F4;
  color: black;
  border-radius: 100%;
  display: block;
}

.vehicle[max-distance]:before {
  content: attr(max-distance);
  position: relative;
  top: 90px;
  right: -35px;
  font-size: 15px;
  width: 30px;
  background: #FF9800;
  color: black;
  border-radius: 30%;
  display: block;
}

.vehicle span[max-speed]:before {
  content:attr(max-speed);
  position: relative;
  top: 65px;
  right: -65px;
  font-size: 20px;
  width: 30px;
  background: #F44336;
  color: black;
  border-radius: 100%;
  display: block;
}

.vehicle span[used]:after {
  content:attr(used);
  position: relative;
  top: -60px;
  right: -38px;
  font-size: 20px;
  width: 30px;
  background: #4CAF50;
  color: black;
  border-radius: 100%;
  display: block;
}

.planet_visit{
  display: inline-block;
  margin: 5px;
  height:100px;
  width: 100px;
}

.use_vehicle:before{
  top: 70px;
  right: 52px;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}

.remove_vehicle:before{
  top: -65px;
  right: -35px;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}

.disable{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.dont_visit:before{
  font-size: 30px;
  position: relative;
  right: -40px;
  top: -8px;
  color: #F44336;
  cursor: pointer;
}