/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 91.5vh;
  overflow: hidden;
  background-size: 100%;
  background: url("../images/space.jpg") no-repeat;
  cursor: url(../images/crosshairs.png),default;
}

/* Set gray background color and 100% height */
.sidenav {
  width:29%;
  z-index: 1;
  height: 100%;
  cursor: default;
  padding-top: 20px;
  overflow-y: scroll;
  background-color: black;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen {
  .sidenav {
    padding: 15px;
  }
  .row.content {background-repeat: repeat;}
}

.stars{
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/stars.png");  
}

.planet{
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.donlon{
  background-image: url("../images/donlon.png");
}

.enchai{
  background-image: url("../images/enchai.png");
}

.sapir{
  background-image: url("../images/sapir.png");
}

.jebing{
  background-image: url("../images/jebing.png");
}

.lengaburu{
  background-image: url("../images/lengaburu.png");
}

.lerbin{
  background-image: url("../images/lerbin.png");
}

.pingasor{
  background-image: url("../images/pingasor.png");
}

.planet_1{
  height: 200px;
  width: 200px;
  margin-top: 250%;
  margin-left: 450%;
}

.planet_2{
  height: 150px;
  width: 150px;
  margin-left: 30%;
  margin-top: 50%;
}

.planet_3{
  height: 120px;
  width: 120px;
  margin-left: 450%;
  margin-top: 450%;
}

.planet_4{
  height: 150px;
  width: 150px;
  margin-left: 320%;
  margin-top:60%;
}

.planet_5{  
  height: 300px;
  width: 300px;
  margin-left: 140%;
  margin-top: 98%;
}

.planet_6{
  height: 300px;
  width: 300px;
  margin-left: 280%;
  margin-top: 30%;
}

.planet_7{
  height: 400px;
  width: 400px;
  margin-left: -30%;
  margin-top: 120%;
}

#info{
  height: 100%;
  table-layout: fixed;
}

.planet_info{
  width : 100px;
  height :100px;
}

.space_pod{
  background: url("../images/space_pod.png") no-repeat; 
}

.space_rocket{
  background: url("../images/space_rocket.png") no-repeat;
}

.space_shuttle{
  background: url("../images/space_shuttle.png") no-repeat;
  background-size: 55%;
}

.space_ship{
  background: url("../images/space_ship.png") no-repeat;
  background-size: 75%;
}

.vehicle{
  width: 100px;
  height: 100px;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
}

.bottom{
  vertical-align: bottom;
}
.top{
  vertical-align: top;
}
.center{
  text-align: center;
  margin-top: 20px;
  color: white;
}
.border{
  border: 2px solid white;
  margin-bottom: 10px;
}
.padding{
  padding: 40px;
}
.find{
  cursor: pointer;
  margin-bottom: 5px;
}
.find:hover{
  background-color: #4CAF50;
}
.vehicle[count]:after {
  content:attr(count);
  position: relative;
  top: 37px;
  right: -5px;
  font-size: 20px;
  width: 30px;
  background: #03A9F4;
  color: black;
  border-radius: 100%;
  display: block;
}
.vehicle[max-distance]:before {
  content: attr(max-distance);
  position: relative;
  top: 90px;
  right: -35px;
  font-size: 15px;
  width: 30px;
  background: #FF9800;
  color: black;
  border-radius: 30%;
  display: block;
}
.vehicle span[max-speed]:before {
  content:attr(max-speed);
  position: relative;
  top: 65px;
  right: -65px;
  font-size: 20px;
  width: 30px;
  background: #F44336;
  color: black;
  border-radius: 100%;
  display: block;
}
.planet_visit{
  display: inline-block;
  height:100px;
  width: 100px;
}
.visit_list{
  padding: 5px
}
